body
{
  color:#fff;
  background-color: #23263a;
  font-family:'Montserrat',sans-serif;
}

hr
{
  width: 4%;
  border-color: #ff4a57;
  border-width:2px;
}

q
{
   font-family: 'Lobster', cursive;
   font-size: 2.5rem;
}


.pre-font
{
  font-size: 1.2rem;
}


.font-def
{
  font-size: 22px;
}

/* Title Styles */

#title
{
  background-color: #23263a;
}

.bg-custom
{
  background-color: #1f2235;
}

.headline1
{
  padding-top: 25px;
  color:#ffff;
  font-size: 4.5rem;
  font-family: 'Lobster', cursive;
}

.row
{
  margin:0;
  width:100%;
}

.container-fluid
{
  padding: 3% 3%;
}

.def
{
  margin-left: 5px;
  color:#ffff;
  margin-top: 25px;
  font-family: 'Montserrat', sans-serif;
  line-height: 1.6;
}
.img1
{
  position: relative;
  right:30px;
  bottom:25px;
  height: 192px;
  width: 192px;
}
.img2
{
  display:block;
  margin:auto;
  width:53.3%;
  max-height:100%;
}
.btn-outline-custom
{
  margin-top:10px;
  border-radius: 24px;
  color: #ff4a57;
  background-color: transparent;
  background-image: none;
  border-color: #ff4a57;
}

.btn-outline-custom:hover
{
  color: #fff;
  background-color: #ff4a57;
  border-color: #ff4a57;
}

.nav-item
{
  padding:0 10px;
}

/* Work Styles */

#work
{
  background-color: #1f2235;
  margin-top:30px;
}

.head-custom
{
  padding-top:30px;
  font-family: 'Poppins', sans-serif;
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
}

.work1
{
  border-radius: 24px;
  display: block;
  margin:0 auto;
}

.work2
{
  border-radius: 24px;
  display: block;
  margin:0 auto;
}

.btn-s1
{
  display: block;
  margin:20px auto;
}

.btn-s2
{
  display: block;
  margin:20px auto;
}

.list
{
  padding-top: 20px;
  font-family: Helvetica;
  font-weight: bolder;
}

.list-inline-item:hover
{
  color: #ff847c;
}
/* Contact Styles */
#about
{
  text-align: center;
}

.about-def
{
  margin:0 auto;
  padding-top: 25px;
  width:70%;
  line-height: 1.6;
}

.about1
{
  padding-top: 1%;
}

.fa
{
  border: 2px solid;
  border-radius: 50%;
  border-color:#ff4a57;
  color: #fff;
  font-weight: 500;
  width: 50px;
  height: 50px;
  padding: 13px;
  margin-left: 2.6%;
}

.fa:hover
{
  background-color: #ff4a57;
}

.div-footer
{
  background-color: #1f2235;
  text-align: center;
  padding-top: 10px;
  margin: 30px auto 0;
}
.brand-f
{
  color:#ff4a57;
}
.cr
{
  width:85%;
  margin: 0 auto;

}

/* Sub-Page Styles */
.fa-custom
{
  border:none;
  color:#ff4a57;
  width: 50px;
  height: 50px;
  padding: 15px;
  margin:0 0 0 14.86%;
}

.fa-custom:hover
{
  background-color: transparent;
}

.font-custom
{
  font-family: "Poppins",sans-serif;
  font-weight: bolder;
}

.icon-pos
{
  margin-left:65px;
}
.text-pos
{
  margin-left: 75px;
}

.col-size
{
  height:200px;
}

.pad-space
{
  padding-top:40px;
}
/*Smartphone Responsiveness*/
 @media (max-width: 992px)
{
  html, body
  {
  overflow-x: hidden;
  }
body
  {
  position: relative;
  }

  hr
  {
    width:10%;
    margin-top:0;
  }
  .img2
  {
    width: 350px;
    height: 247px;
    margin: 0 auto;
  }
  .btn-t1
  {
    padding-top: 10px;
    display:block;
    margin:0 auto;
  }

  .about-def
  {
    width:90%;
    margin:0 auto;
    padding-top: 25px;
    font-size:20px;
    line-height: 1.6;
  }
  .social
  {
    margin-top: 20px;
    width:100%;
    margin:0 auto;

  }
  .list
  {
    font-size: 10px;
  }

  .icon-pos
  {
    margin-left: 15%;
  }
  .text-pos
  {
    margin-left: 20%;
  }

  .col-size
  {
    height: 130px;
    margin-bottom: 10px;
  }

  .pad-space
  {
    padding-top:15px;
  }

}
